<div class="z-2 w-full h-16 flex items-center justify-between px-5 md:px-20">
  <p routerLink="" class="cursor-pointer text-5xl text-cyan-800 font-bold">
    BookBay
  </p>

  <button
    type="button"
    class="relative inline-flex items-center p-3 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 "
  >
    <img
      routerLink="cart"
      class="cursor-pointer"
      src="./assets/Images/cart-icon.png"
      alt=""
    />
    <span class="sr-only">Notifications</span>
    <div
      class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -right-2 dark:border-gray-900"
    >
      {{cartItemCount}}
    </div>
  </button>
</div>
